/* =========================== Header ============================ */
.header {
    background-image: url('../img/nen.jpg');
    background-position: center center;
    background-size: cover;
    font-weight: bold;
}

.header .row {
    color: #fff;
    font-style: italic;
    padding-right: 10px;
    text-align: right;
}

.header nav {
    background-color: #5a98f5;
}

/* =========================== Navbar ============================ */
#menu .nav li a, .navbar a.navbar-brand{
    color: #fff;
}

#menu .nav li a:hover, .navbar a.navbar-brand:hover{
    background-color: #0254a0;
}

#menu .dropdown .dropdown-menu{
    background-color: #5a98f5;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.active>a {
    background-color: #0254A0;
}

.navbar-right {
    margin-right: 10px;
}
/* =========================== Content ============================ */
.container-fuild {
    background-color: #eed5d5;
}

.container {
    padding-top: 10px;
    background-color: #ffffff;
    min-height: 500px;
    padding-bottom: 70px;
}

body {
    margin: 0;
    padding: 0;
}
.box {
    border: 2px solid red;
}

.content {
    margin-top: 20px;
}

.footer{
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #163ca3;
}

.footer .text{
    color: #fff;
    text-align: center;
}

